Repository hashicorp/terraform-provider-azuread, pull requests merged in 2019-05, with the labels that each got.

#81 Increase maximum password length from 16 to 256
  azuread/resource_user.go
  website/docs/r/user.html.markdown
Labels: documentation, feature/users, size/XS

#78 allow setting group membeship claims on aad application
  azuread/data_application.go
  azuread/data_application_test.go
  azuread/resource_application.go
  azuread/resource_application_test.go
  website/docs/d/application.html.markdown
  website/docs/r/application.html.markdown
Labels: documentation, feature/application, size/M

#79 allow reading oauth2 permissions from aad application
  azuread/data_application.go
  azuread/data_application_test.go
  azuread/resource_application.go
  azuread/resource_application_test.go
  website/docs/d/application.html.markdown
  website/docs/r/application.html.markdown
Labels: documentation, enhancement, feature/application, size/L

#34 Introduces ability to create native apps
  azuread/data_application.go
  azuread/data_application_test.go
  azuread/resource_application.go
  azuread/resource_application_test.go
  website/docs/r/application.html.markdown
Labels: documentation, feature/application, size/XL, waiting-response

#83 Add create-for-rbac service principal example
  examples/service-principal/README.md
  examples/service-principal/main.tf
  examples/service_principal/basic/main.tf
  examples/service_principal/create-for-rbac/main.tf
Labels: documentation, size/L

#84 Add Service Principal Configuration guide to sidebar & azuread_service_principal docs
  website/azuread.erb
  website/docs/r/service_principal.html.markdown
Labels: authentication, documentation, feature/service-principal, size/XS

#71 New resource 'azuread_application_password'
  azuread/data_application.go
  azuread/helpers/graph/credentials.go
  azuread/helpers/guid/guid.go
  azuread/helpers/p/p.go
  azuread/helpers/tf/marshall.go
  azuread/locks.go
  azuread/provider.go
  azuread/resource_application.go
  azuread/resource_application_password.go
  azuread/resource_application_password_test.go
  azuread/resource_group.go
  azuread/resource_service_principal.go
  azuread/resource_service_principal_password.go
  azuread/resource_service_principal_password_test.go
  website/azuread.erb
  website/docs/r/application_password.html.markdown
Labels: documentation, new-resource, size/XXL

#85 travis enhancements
  .travis.yml
Labels: enhancement, refactor, size/S, tests

#87 Added appId output to the documentation - esp. important for AKS
  website/docs/r/service_principal.html.markdown
Labels: documentation, feature/service-principal, size/XS

#86 Application & Service Principal Creation should now wait on replication
  azuread/data_application.go
  azuread/resource_application.go
  azuread/resource_service_principal.go
  azuread/resource_user.go
Labels: bug, feature/application, feature/service-principal, size/S

#89 removed reply_urls validation
  azuread/resource_application.go
  azuread/resource_application_test.go
Labels: feature/application, size/S, waiting-response
