Repository hashicorp/terraform-provider-azuread, pull requests merged in 2019-08, with the labels that each got.

#139 Update application.html.markdown
  website/docs/d/application.html.markdown
  website/docs/r/application.html.markdown
Labels: documentation, feature/application, size/XS

#137 fixed field name
  website/docs/d/users.html.markdown
Labels: documentation, feature/users, size/XS

#127 azuread_service_principal - support for the AppRoleAssignmentRequired property
  azuread/resource_service_principal.go
  azuread/resource_service_principal_test.go
  website/docs/r/service_principal.html.markdown
Labels: documentation, enhancement, feature/service-principal, size/M, waiting-response
