Repository hashicorp/terraform-provider-azuread, pull requests merged in 2019-10, with the labels that each got.

#155 azuread_application: homepage now accepts HTTP/HTTPS
  azuread/resource_application.go
  azuread/resource_application_test.go
Labels: feature/application, size/S

#141 azuread_user - support for the `usage_location` property
  azuread/data_user.go
  azuread/resource_user.go
  azuread/resource_user_test.go
  website/docs/d/user.html.markdown
  website/docs/r/user.html.markdown
Labels: documentation, feature/users, size/XS

#157 azuread_application - allow approle value property to be nil
  azuread/helpers/graph/replication.go
  azuread/resource_application.go
  azuread/resource_application_test.go
  azuread/resource_group.go
  azuread/resource_service_principal.go
  azuread/resource_user.go
  website/docs/r/application.html.markdown
Labels: bug, documentation, feature/application, size/M

#158 extend linter deadline
  .golangci.yml
  GNUmakefile
  azuread/resource_service_principal.go
Labels: provider, size/XS, tests

#159 azuread_application - support for the `owners` property
  azuread/data_application.go
  azuread/data_application_test.go
  azuread/data_service_principal.go
  azuread/helpers/graph/application.go
  azuread/resource_application.go
  azuread/resource_application_test.go
  azuread/resource_service_principal.go
Labels: enhancement, feature/application, size/XL

#165 Update service_principal_password.html.markdown
  website/docs/r/service_principal_password.html.markdown
Labels: documentation, feature/service-principal, size/XS

#167 Uses random_password resource for sp examples
  examples/service_principal/basic/main.tf
  examples/service_principal/create-for-rbac/main.tf
Labels: documentation, feature/service-principal, size/XS
