Repository hashicorp/terraform-provider-azuread, pull requests merged in 2020-06, with the labels that each got.

#260 azuread_application: support optional_claims
  azuread/data_application.go
  azuread/data_application_test.go
  azuread/helpers/graph/application.go
  azuread/resource_application.go
  azuread/resource_application_test.go
  website/docs/d/application.html.markdown
  website/docs/r/application.html.markdown
Labels: documentation, enhancement, feature/application, size/L

#261 End date validation for azuread_application_password / azuread_service_principal_password
  azuread/helpers/graph/credentials.go
  website/docs/r/application_password.html.markdown
Labels: bug, documentation, feature/application, feature/service-principal, size/XS

#262 New resources: azuread_application_certificate and azuread_service_principal_certificate
  azuread/helpers/graph/credentials.go
  azuread/provider.go
  azuread/resource_application_certificate.go
  azuread/resource_application_certificate_test.go
  azuread/resource_application_password.go
  azuread/resource_application_password_test.go
  azuread/resource_service_principal_certificate.go
  azuread/resource_service_principal_certificate_test.go
  azuread/resource_service_principal_password.go
  azuread/resource_service_principal_password_test.go
  website/azuread.erb
  website/docs/r/application_certificate.html.markdown
  website/docs/r/service_principal_certificate.html.markdown
Labels: documentation, feature/application, feature/service-principal, new-resource, size/XXL

#264 New ID format for azuread_application_certificate, azuread_application_password, azuread_service_principal_certificate, azuread_service_principal_password
  azuread/helpers/graph/credentials.go
  azuread/resource_application.go
  azuread/resource_application_certificate.go
  azuread/resource_application_password.go
  azuread/resource_application_password_test.go
  azuread/resource_service_principal_certificate.go
  azuread/resource_service_principal_password.go
  azuread/resource_service_principal_password_test.go
  website/docs/r/application_certificate.html.markdown
  website/docs/r/application_password.html.markdown
  website/docs/r/service_principal_certificate.html.markdown
  website/docs/r/service_principal_password.html.markdown
Labels: bug, documentation, feature/application, size/L

#266 changelog: note breaking change for azuread_application.oauth2_permissions
  CHANGELOG.md
Labels: breaking-change, documentation, size/XS

#271 Stop requiring subscription_id and update configuration guides
  azuread/data_client_config.go
  azuread/data_client_config_test.go
  azuread/provider.go
  azuread/provider_test.go
  azuread/resource_application_certificate_test.go
  azuread/resource_service_principal_certificate_test.go
  website/docs/guides/azure_cli.html.markdown
  website/docs/guides/managed_service_identity.html.markdown
  website/docs/guides/service_principal_client_certificate.html.markdown
  website/docs/guides/service_principal_client_secret.html.markdown
  website/docs/guides/service_principal_configuration.html.markdown
Labels: documentation, feature/application, feature/service-principal, provider, size/XL

#274 Syntax updates for Terraform 0.12, support application_id argument on data.azuread_application
  azuread/data_application.go
  azuread/data_application_test.go
  azuread/data_group_test.go
  azuread/data_groups_test.go
  azuread/data_service_principal_test.go
  azuread/data_user_test.go
  azuread/data_users_test.go
  azuread/resource_application_certificate_test.go
  azuread/resource_application_password_test.go
  azuread/resource_group_member_test.go
  azuread/resource_service_principal_certificate_test.go
  azuread/resource_service_principal_password_test.go
  azuread/resource_service_principal_test.go
  website/docs/d/application.html.markdown
  website/docs/d/domains.html.markdown
  website/docs/r/application_certificate.html.markdown
  website/docs/r/application_password.html.markdown
  website/docs/r/group.markdown
  website/docs/r/group_member.markdown
  website/docs/r/service_principal.html.markdown
  website/docs/r/service_principal_certificate.html.markdown
  website/docs/r/service_principal_password.html.markdown
  website/docs/r/user.html.markdown
Labels: documentation, enhancement, feature/application, size/L

#277 Comment about client secrets
  website/docs/r/application_password.html.markdown
Labels: documentation, feature/application, size/XS

#279 azuread_application & azuread_group: Duplicate name detection
  azuread/helpers/graph/application.go
  azuread/helpers/graph/group.go
  azuread/resource_application.go
  azuread/resource_application_test.go
  azuread/resource_group.go
  azuread/resource_group_test.go
  website/docs/r/application.html.markdown
  website/docs/r/group.markdown
Labels: documentation, enhancement, feature/application, feature/groups, size/L

#283 azuread_group: remediate replication delays when adding/removing group members
  azuread/helpers/graph/group.go
  azuread/helpers/graph/replication.go
  azuread/resource_group.go
Labels: enhancement, feature/groups, size/M

#256 Allow for graceful handling of errored users within users data source
  azuread/data_users.go
  azuread/data_users_test.go
  website/docs/d/users.html.markdown
Labels: documentation, feature/users, size/L

#287 azuread_application: validate values for app_role and oauth2_permissions to screen for duplicates
  azuread/resource_application.go
  azuread/resource_application_test.go
  website/docs/r/application.html.markdown
Labels: documentation, enhancement, feature/application, size/M
