Repository hashicorp/terraform-provider-azuread, pull requests merged in 2020-07, with the labels that each got.

#289 Fix nil pointer dereference in data.azuread_users and improve test coverage
  azuread/data_user.go
  azuread/data_user_test.go
  azuread/data_users.go
  azuread/data_users_test.go
  azuread/helpers/graph/user.go
Labels: bug, feature/users, size/L, technical-debt

#290 azuread_group: wait for replication before adding owners/members
  azuread/helpers/graph/group.go
  azuread/resource_group.go
Labels: bug, feature/groups, size/S

#292 Fix for users read lookup loop breaking rather than continuing
  azuread/data_users.go
Labels: bug, feature/users, size/XS

#295 bump go to 1.14.5
  .go-version
  .travis.yml
Labels: documentation, size/XS
