Repository hashicorp/terraform-provider-azuread, pull requests merged in 2020-05, with the labels that each got.

#247 update azure-sdk-for-go to v42.1.0
  GNUmakefile
  azuread/helpers/graph/user.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac/users.go
  vendor/github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac/version.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/S

#238 Added support for ApplicationGroup
  azuread/resource_application.go
  azuread/resource_application_test.go
  website/docs/r/application.html.markdown
Labels: documentation, enhancement, feature/application, size/XS

#245 Removed forceNew flag from resource_service_principal tags
  azuread/resource_service_principal.go
Labels: bug, feature/service-principal, size/XS

#242 document application public_client property
  website/docs/d/application.html.markdown
Labels: documentation, feature/application, size/XS

#251 data.azuread_user[s] - use equals insteadof startsWith when finding users by mailNickname
  azuread/helpers/graph/user.go
Labels: bug, feature/users, size/XS

#252 application: support for setting oauth2_permissions
  azuread/resource_application.go
  azuread/resource_application_test.go
  website/docs/r/application.html.markdown
Labels: documentation, enhancement, feature/application, size/XL

#253 Support descriptions for azuread_application_password / azuread_service_principal_password
  azuread/helpers/graph/credentials.go
  azuread/resource_application_password.go
  azuread/resource_application_password_test.go
  azuread/resource_service_principal_password.go
  azuread/resource_service_principal_password_test.go
  website/docs/r/application_password.html.markdown
  website/docs/r/service_principal_password.html.markdown
Labels: documentation, enhancement, feature/application, feature/service-principal, size/M

#257 data.azuread_groups: support empty list for names/object_ids arguments
  azuread/data_groups.go
  azuread/data_groups_test.go
  website/docs/d/groups.html.markdown
Labels: documentation, enhancement, feature/groups, size/S

#258 data.azuread_users: support empty search lists
  azuread/data_users.go
  azuread/data_users_test.go
  website/docs/d/users.html.markdown
Labels: documentation, enhancement, feature/users, size/S
