Repository hashicorp/terraform-provider-azuread, pull requests merged in 2021-07, with the labels that each got.

#472 New resource: application_pre_authorized
  docs/resources/application_pre_authorized.md
  internal/services/applications/application_pre_authorized_resource.go
  internal/services/applications/application_pre_authorized_resource_test.go
  internal/services/applications/parse/pre_authorized_application.go
  internal/services/applications/registration.go
Labels: api/microsoft-graph, feature/application, new-resource

#482 GitHub workflows for issue triage
  .github/labeler-issue-triage.yml
  .github/labeler-pull-request-triage.yml
  .github/workflows/issue-comment-created.yaml
  .github/workflows/issue-opened.yaml
  .github/workflows/pull-request.yaml
Labels: tooling

#488 Update to Go 1.16.6
  .github/workflows/golint.yml
  .github/workflows/tflint.yml
  .github/workflows/thirty-two-bit.yml
  .github/workflows/unit-test.yml
  .go-version
Labels: size/XS, tooling

#487 Add state migration for azuread_application to handle group_membership_claims type change
  internal/services/applications/application_password_resource.go
  internal/services/applications/application_resource.go
  internal/services/applications/migrations/application_password_resource.go
  internal/services/applications/migrations/application_resource.go
  internal/services/serviceprincipals/migrations/service_principal_password_resource.go
  internal/services/serviceprincipals/service_principal_password_resource.go
Labels: bug, feature/application, size/XL

#474 Application improvements
  docs/data-sources/application.md
  docs/guides/microsoft-graph.md
  docs/resources/application.md
  go.mod
  go.sum
  internal/helpers/applications.go
  internal/services/applications/application_certificate_resource.go
  internal/services/applications/application_data_source.go
  internal/services/applications/application_data_source_test.go
  internal/services/applications/application_password_resource.go
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  internal/services/applications/applications.go
  internal/services/applications/parse/oauth2_permission_scope.go
  internal/services/applications/schema.go
  internal/services/groups/group_data_source.go
  internal/services/groups/groups.go
  internal/services/groups/groups_data_source.go
  internal/services/serviceprincipals/service_principal_certificate_resource.go
  internal/services/serviceprincipals/service_principal_data_source.go
  internal/services/serviceprincipals/service_principal_password_resource.go
  internal/services/users/user_data_source.go
  internal/services/users/users_data_source.go
  internal/validate/uri.go
  internal/validate/uuid.go
  vendor/github.com/manicminer/hamilton/auth/auth.go
  vendor/github.com/manicminer/hamilton/auth/config.go
  vendor/github.com/manicminer/hamilton/environments/published.go
  vendor/github.com/manicminer/hamilton/internal/utils/base64.go
  vendor/github.com/manicminer/hamilton/internal/utils/pointers.go
  vendor/github.com/manicminer/hamilton/msgraph/applications.go
  vendor/github.com/manicminer/hamilton/msgraph/client.go
  vendor/github.com/manicminer/hamilton/msgraph/conditionalaccesspolicy.go
  vendor/github.com/manicminer/hamilton/msgraph/directory_audit_reports.go
  vendor/github.com/manicminer/hamilton/msgraph/directory_roles.go
  vendor/github.com/manicminer/hamilton/msgraph/groups.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/namedlocations.go
  vendor/github.com/manicminer/hamilton/msgraph/schema_extensions.go
  vendor/github.com/manicminer/hamilton/msgraph/serviceprincipals.go
  vendor/github.com/manicminer/hamilton/msgraph/sign_in_reports.go
  vendor/github.com/manicminer/hamilton/msgraph/users.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/github.com/manicminer/hamilton/odata/odata.go
  vendor/github.com/manicminer/hamilton/odata/query.go
  vendor/modules.txt
Labels: api/microsoft-graph, dependencies, enhancement, feature/application, size/XL

#476 User & Group improvements
  .golangci.yml
  GNUmakefile
  docs/data-sources/group.md
  docs/data-sources/user.md
  docs/resources/group.md
  docs/resources/user.md
  go.mod
  go.sum
  internal/helpers/credentials.go
  internal/services/applications/application_certificate_resource.go
  internal/services/applications/application_data_source.go
  internal/services/applications/application_resource.go
  internal/services/applications/applications.go
  internal/services/applications/migrations/application_resource.go
  internal/services/groups/group_data_source.go
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
  internal/services/groups/groups.go
  internal/services/groups/groups_data_source_test.go
  internal/services/serviceprincipals/service_principal_certificate_resource.go
  internal/services/users/user_data_source.go
  internal/services/users/user_resource.go
  internal/services/users/user_resource_test.go
  internal/validate/diag.go
  internal/validate/lang.go
  internal/validate/lang_test.go
  internal/validate/mail.go
  internal/validate/mail_test.go
  internal/validate/strings.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/golang.org/x/text/internal/language/common.go
  vendor/golang.org/x/text/internal/language/compact.go
  vendor/golang.org/x/text/internal/language/compact/compact.go
  vendor/golang.org/x/text/internal/language/compact/language.go
  vendor/golang.org/x/text/internal/language/compact/parents.go
  vendor/golang.org/x/text/internal/language/compact/tables.go
  vendor/golang.org/x/text/internal/language/compact/tags.go
  vendor/golang.org/x/text/internal/language/compose.go
  vendor/golang.org/x/text/internal/language/coverage.go
  vendor/golang.org/x/text/internal/language/language.go
  vendor/golang.org/x/text/internal/language/lookup.go
  vendor/golang.org/x/text/internal/language/match.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/internal/language/tables.go
  vendor/golang.org/x/text/internal/language/tags.go
  vendor/golang.org/x/text/internal/tag/tag.go
  vendor/golang.org/x/text/language/coverage.go
  vendor/golang.org/x/text/language/doc.go
  vendor/golang.org/x/text/language/go1_1.go
  vendor/golang.org/x/text/language/go1_2.go
  vendor/golang.org/x/text/language/language.go
  vendor/golang.org/x/text/language/match.go
  vendor/golang.org/x/text/language/parse.go
  vendor/golang.org/x/text/language/tables.go
  vendor/golang.org/x/text/language/tags.go
  vendor/modules.txt
Labels: dependencies, enhancement, feature/groups, feature/users, size/XL

#481 Service Principal improvements
  docs/data-sources/application_published_app_ids.md
  docs/data-sources/service_principal.md
  docs/guides/microsoft-graph.md
  docs/resources/application.md
  docs/resources/application_password.md
  docs/resources/service_principal.md
  docs/resources/service_principal_password.md
  go.mod
  go.sum
  internal/acceptance/testcase.go
  internal/clients/builder.go
  internal/services/applications/application_data_source_test.go
  internal/services/applications/application_password_resource.go
  internal/services/applications/application_published_app_ids_data_source.go
  internal/services/applications/application_published_app_ids_data_source_test.go
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  internal/services/applications/applications.go
  internal/services/applications/registration.go
  internal/services/serviceprincipals/service_principal_data_source.go
  internal/services/serviceprincipals/service_principal_data_source_test.go
  internal/services/serviceprincipals/service_principal_password_resource.go
  internal/services/serviceprincipals/service_principal_resource.go
  internal/services/serviceprincipals/service_principal_resource_test.go
  vendor/github.com/manicminer/hamilton/environments/published.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: breaking-change, dependencies, enhancement, feature/service-principal, size/XL

#492 data.azuread_application: match display_name case insensitively
  docs/guides/microsoft-graph.md
  internal/services/applications/application_data_source.go
  internal/services/applications/application_data_source_test.go
  internal/services/serviceprincipals/service_principal_data_source.go
Labels: breaking-change, enhancement, feature/application, size/XS

#493 Note about safety of removing `value` properties from password configurations
  docs/guides/microsoft-graph.md
Labels: api/microsoft-graph, size/XS

#497 Add migration for public_client attribute
  internal/services/applications/migrations/application_resource.go
Labels: bug, feature/application, size/XS

#499 When reading, use decoded CustomKeyIdentifier as display_name if DisplayName is nil
  internal/services/applications/application_password_resource.go
Labels: bug, feature/application, size/XS
