Repository hashicorp/terraform-provider-azuread, pull requests merged in 2021-09, with the labels that each got.

#542 Update Hamilton to 0.25.0
  go.mod
  go.sum
  vendor/github.com/manicminer/hamilton/msgraph/authentication_methods.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/github.com/manicminer/hamilton/odata/odata.go
  vendor/modules.txt
Labels: size/XL, dependencies

#540 Applications: allow redirect URIs with schema "ms-appx-web"
  internal/services/applications/application_resource_test.go
  internal/validate/uri.go
Labels: bug, size/XS, feature/application

#539 Update Hamilton: Fix Azure CLI auth detection & Service Principal marshaling
  go.mod
  go.sum
  internal/clients/builder.go
  vendor/github.com/manicminer/hamilton/auth/azcli.go
  vendor/github.com/manicminer/hamilton/auth/cache.go
  vendor/github.com/manicminer/hamilton/auth/clientcredentials.go
  vendor/github.com/manicminer/hamilton/auth/msi.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/modules.txt
Labels: bug, size/M, dependencies, authentication

#543 Bugfix: password validation at apply-time …
  docs/resources/user.md
  internal/services/users/user_resource.go
  internal/services/users/user_resource_test.go
Labels: bug, size/M, feature/users

#536 Nil checking to prevent crashes in block expand/flatten handling for applications
  internal/services/applications/applications.go
Labels: bug, crash, size/S, feature/application

#513 add all_users_data_source.go and tests
  docs/data-sources/users.md
  internal/services/users/user_data_source_test.go
  internal/services/users/users_data_source.go
  internal/services/users/users_data_source_test.go
Labels: enhancement, size/M, feature/users

#520 Feature/groups_datasource show_all_flag
  docs/data-sources/groups.md
  internal/services/groups/groups_data_source.go
  internal/services/groups/groups_data_source_test.go
Labels: enhancement, size/M, feature/groups

#545 Note in docs clarifying unsupported permission for service principals
  docs/resources/service_principal.md
Labels: size/XS, feature/service-principal

#445 Add azuread_invitation resource
  .teamcity/components/project.kt
  docs/resources/invitation.md
  go.mod
  go.sum
  internal/clients/client.go
  internal/provider/services.go
  internal/services/invitations/client/client.go
  internal/services/invitations/invitation_resource.go
  internal/services/invitations/invitation_resource_test.go
  internal/services/invitations/registration.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: new-resource, size/XL, dependencies

#553 Bugfix: only specify the calling principal ID once when creating a group
  internal/services/groups/group_resource.go
Labels: bug, size/XS, feature/groups

#441 Add Named Location support
  docs/resources/named_location.md
  internal/clients/client.go
  internal/provider/services.go
  internal/services/conditionalaccess/client/client.go
  internal/services/conditionalaccess/named_location_resource.go
  internal/services/conditionalaccess/named_location_resource_test.go
  internal/services/conditionalaccess/registration.go
Labels: new-resource, size/XL

#556 [docs] Fix typo in Service Principal/Client Secret doc
  docs/guides/service_principal_client_secret.md
Labels: size/XS, documentation

#555 New data source: azuread_service_principals
  docs/data-sources/service_principal.md
  docs/data-sources/service_principals.md
  docs/data-sources/users.md
  internal/services/serviceprincipals/registration.go
  internal/services/serviceprincipals/service_principal_resource_test.go
  internal/services/serviceprincipals/service_principals_data_source.go
  internal/services/serviceprincipals/service_principals_data_source_test.go
Labels: new-data-source, size/XL, feature/service-principal

#557 service_principal: Support the `saml_single_sign_on` block with the `relay_state` property
  docs/data-sources/service_principal.md
  docs/resources/service_principal.md
  internal/services/serviceprincipals/service_principal_data_source.go
  internal/services/serviceprincipals/service_principal_data_source_test.go
  internal/services/serviceprincipals/service_principal_resource.go
  internal/services/serviceprincipals/service_principal_resource_test.go
  internal/services/serviceprincipals/serviceprincipals.go
Labels: enhancement, size/M, feature/service-principal

#560 Bump Hamilton to v0.28.1 for bug fixes
  go.mod
  go.sum
  vendor/github.com/manicminer/hamilton/auth/azcli.go
  vendor/github.com/manicminer/hamilton/auth/claims.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/modules.txt
Labels: bug, size/XS, dependencies, authentication

#550 Support for password policies
  docs/resources/user.md
  internal/services/users/user_resource.go
  internal/services/users/user_resource_test.go
Labels: enhancement, size/M, feature/users

#466 Add Conditional Access Policy Support
  .teamcity/components/project.kt
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/client/client.go
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/registration.go
Labels: new-resource, size/XL, api/microsoft-graph, feature/conditionalaccess

#562 Missing newline causes previous line to be parsed as header
  docs/resources/conditional_access_policy.md
Labels: size/XS

#564 Bump Hamilton to v0.28.2 for critical bug fix in retryable response handling
  go.mod
  go.sum
  vendor/github.com/manicminer/hamilton/msgraph/client.go
  vendor/modules.txt
Labels: bug, size/XS, dependencies, upstream-hamilton

#571 azuread_service_principal: support the features block
  docs/data-sources/service_principal.md
  docs/resources/service_principal.md
  internal/services/serviceprincipals/service_principal_data_source.go
  internal/services/serviceprincipals/service_principal_data_source_test.go
  internal/services/serviceprincipals/service_principal_resource.go
  internal/services/serviceprincipals/service_principal_resource_test.go
  internal/services/serviceprincipals/serviceprincipals.go
Labels: enhancement, size/XL, feature/service-principal

#573 New resources: directory_role and directory_role_member
  .teamcity/components/project.kt
  docs/resources/directory_role.md
  docs/resources/directory_role_member.md
  go.mod
  go.sum
  internal/clients/client.go
  internal/provider/services.go
  internal/services/directoryroles/client/client.go
  internal/services/directoryroles/directory_role_member_resource.go
  internal/services/directoryroles/directory_role_member_resource_test.go
  internal/services/directoryroles/directory_role_resource.go
  internal/services/directoryroles/directory_role_resource_test.go
  internal/services/directoryroles/parse/directory_role_member.go
  internal/services/directoryroles/parse/object.go
  internal/services/directoryroles/registration.go
  internal/tf/suppress/string.go
  vendor/github.com/manicminer/hamilton/msgraph/applications.go
  vendor/github.com/manicminer/hamilton/msgraph/client.go
  vendor/github.com/manicminer/hamilton/msgraph/directory_roles.go
  vendor/github.com/manicminer/hamilton/msgraph/groups.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/serviceprincipals.go
  vendor/github.com/manicminer/hamilton/odata/odata.go
  vendor/modules.txt
Labels: new-resource, size/XL, dependencies, feature/directory-roles

#574 azuread_application: support the `logo` property
  docs/resources/application.md
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  internal/services/applications/applications.go
Labels: enhancement, size/M, feature/application

#569 Bugfix CA Policies
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/client/client.go
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
Labels: bug, size/XL, feature/conditional-access

#577 azuread_application Allow URNs to be specified for web redirect URIs
  docs/resources/application.md
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  internal/services/applications/migrations/application_resource.go
  internal/services/invitations/invitation_resource.go
  internal/services/serviceprincipals/service_principal_resource.go
  internal/validate/uri.go
  internal/validate/uri_test.go
Labels: bug, size/M, feature/application

#584 New resource: `azuread_app_role_assignment`
  .teamcity/components/project.kt
  docs/resources/app_role_assignment.md
  go.mod
  go.sum
  internal/clients/client.go
  internal/provider/services.go
  internal/services/approleassignments/app_role_assignment_resource.go
  internal/services/approleassignments/app_role_assignment_resource_test.go
  internal/services/approleassignments/client/client.go
  internal/services/approleassignments/parse/approleassignment.go
  internal/services/approleassignments/parse/object.go
  internal/services/approleassignments/registration.go
  vendor/github.com/manicminer/hamilton/msgraph/app_role_assignments.go
  vendor/github.com/manicminer/hamilton/odata/odata.go
  vendor/modules.txt
Labels: new-resource, size/XL, dependencies, feature/app-role-assignments

#585 Document breaking change to `group_membership_claims` for applications in v2.0
  docs/guides/microsoft-graph.md
  docs/index.md
  internal/provider/provider.go
Labels: size/S, feature/application

#580 Corrections for azuread_directory_role / azuread_directory_role_member docs
  docs/resources/directory_role.md
  docs/resources/directory_role_member.md
Labels: size/XS, feature/directory-roles

#572 Document `keepers` property for application and service principal passwords
  docs/resources/application_password.md
  docs/resources/service_principal_password.md
  internal/services/applications/application_password_resource.go
  internal/services/serviceprincipals/service_principal_password_resource.go
Labels: size/XS, feature/service-principal, feature/application

#594 Nil checking for directory role template
  internal/services/directoryroles/directory_role_resource.go
Labels: bug, size/XS, crash, feature/directory-roles

#596 Ensure `prevent_duplicate_names` checks don't falsely fail for unknown display names
  internal/services/applications/application_resource.go
  internal/services/applications/applications.go
  internal/services/groups/group_resource.go
  internal/tf/pluginsdk.go
Labels: bug, size/XS, feature/application, feature/groups

#603 data.azuread_groups: support the mail_enabled and security_enabled properties
  docs/data-sources/groups.md
  internal/acceptance/check/that.go
  internal/services/groups/groups_data_source.go
  internal/services/groups/groups_data_source_test.go
Labels: enhancement, size/L, feature/groups

#608 Bump Hamilton to v0.31.1
  go.mod
  go.sum
  vendor/github.com/manicminer/hamilton/msgraph/accesspackage.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackageassignmentpolicy.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackagecatalog.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackageresource.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackageresourcerequest.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackageresourcerolescope.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/serviceprincipals.go
  vendor/github.com/manicminer/hamilton/msgraph/sign_in_reports.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/github.com/manicminer/hamilton/odata/odata.go
  vendor/modules.txt
Labels: size/XL, dependencies

#602 Bugfix: allow service principal with no features / all features disabled
  internal/services/serviceprincipals/service_principal_resource_test.go
  internal/services/serviceprincipals/serviceprincipals.go
Labels: bug, size/S, feature/service-principal

#607 azuread_application: support for "myapp://auth" as a public client redirect URI, to support B2C IEF applications
  internal/services/applications/application_data_source_test.go
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  internal/validate/uri.go
Labels: bug, size/XS, feature/application

#597 Add support for a few additional users attributes
  docs/data-sources/user.md
  docs/resources/user.md
  internal/services/users/user_data_source.go
  internal/services/users/user_resource.go
  internal/services/users/user_resource_test.go
Labels: size/M
