Repository hashicorp/terraform-provider-azuread, pull requests merged in 2021-01, with the labels that each got.

#376 Update References from master to main
  .teamcity/components/build_components.kt
  .teamcity/components/vcs_root.kt
  README.md
  website/docs/index.html.markdown
Labels: documentation, size/XS

#380 Add include_externally_authenticated_upn to valid property
  internal/services/aadgraph/graph/application.go
Labels: enhancement, feature/application

#382 Bugfix: Set display_name on Read for azuread_application and data.azuread_application
  internal/services/applications/application_data_source.go
  internal/services/applications/application_data_source_test.go
  internal/services/applications/application_resource.go
Labels: bug, feature/application

#384 Bugfix: set displayName correctly when creating/updating applications
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  internal/services/groups/group_resource_test.go
Labels: bug, feature/application

#389 Update `examples/application` name to display_name
  examples/application/main.tf
  examples/create-for-rbac/main.tf
Labels: documentation

#386 Support hexadecimal and base64 encoded DER certificates
  docs/resources/application_certificate.md
  docs/resources/service_principal_certificate.md
  internal/helpers/aadgraph/credentials.go
  internal/services/applications/application_certificate_resource_test.go
  internal/services/serviceprincipals/service_principal_certificate_resource_test.go
Labels: enhancement, feature/application, feature/service-principal
