Repository hashicorp/terraform-provider-azuread, pull requests merged in 2021-11, with the labels that each got.

#656 Mitigate some replication delays after creating some resources
  internal/services/applications/application_resource.go
  internal/services/groups/group_resource.go
  internal/services/serviceprincipals/service_principal_resource.go
  internal/services/users/user_resource.go
Labels: size/S, feature/service-principal, feature/application, feature/groups, feature/users, api-bug

#643 Bugfix: UPN single quote escaping
  internal/services/users/user_data_source.go
  internal/services/users/user_resource_test.go
  internal/services/users/users_data_source.go
  internal/utils/odata_query_string.go
Labels: bug, size/XS, feature/users

#658 Document additional permissions for `azuread_group.assignable_to_role` property
  docs/resources/group.md
Labels: size/XS, documentation, feature/groups

#659 Workaround API consistency bugs for various resources
  go.mod
  go.sum
  internal/acceptance/data.go
  internal/common/client_options.go
  internal/helpers/consistency.go
  internal/helpers/credentials.go
  internal/services/applications/application_certificate_resource.go
  internal/services/applications/application_password_resource.go
  internal/services/applications/application_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditionalaccess.go
  internal/services/conditionalaccess/named_location_resource.go
  internal/services/directoryroles/directory_role_member_resource.go
  internal/services/groups/group_member_resource.go
  internal/services/groups/group_resource.go
  internal/services/invitations/invitation_resource.go
  internal/services/invitations/invitation_resource_test.go
  internal/services/invitations/invitations.go
  internal/services/serviceprincipals/service_principal_certificate_resource.go
  internal/services/serviceprincipals/service_principal_password_resource.go
  internal/services/serviceprincipals/service_principal_resource.go
  internal/services/serviceprincipals/service_principal_resource_test.go
  internal/services/users/user_resource.go
  vendor/github.com/google/uuid/.travis.yml
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/CONTRIBUTORS
  vendor/github.com/google/uuid/LICENSE
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/dce.go
  vendor/github.com/google/uuid/doc.go
  vendor/github.com/google/uuid/go.mod
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/marshal.go
  vendor/github.com/google/uuid/node.go
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/node_net.go
  vendor/github.com/google/uuid/sql.go
  vendor/github.com/google/uuid/time.go
  vendor/github.com/google/uuid/util.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version1.go
  vendor/github.com/google/uuid/version4.go
  vendor/modules.txt
Labels: size/XL, dependencies, feature/service-principal, feature/application, feature/groups, feature/users, consistency, feature/conditional-access, feature/invitations, feature/directory-roles

#663 Bring documentation inline with resource
  docs/data-sources/application.md
Labels: size/XS

#666 Bugfix: removal of all group members is ignored
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
Labels: bug, size/XS, feature/groups

#670 Update Hamilton to v0.35.0
  go.mod
  go.sum
  internal/clients/builder.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/services/conditionalaccess/client/client.go
  vendor/github.com/manicminer/hamilton/auth/auth.go
  vendor/github.com/manicminer/hamilton/auth/autorest.go
  vendor/github.com/manicminer/hamilton/auth/azcli.go
  vendor/github.com/manicminer/hamilton/auth/cache.go
  vendor/github.com/manicminer/hamilton/auth/clientcredentials.go
  vendor/github.com/manicminer/hamilton/auth/config.go
  vendor/github.com/manicminer/hamilton/auth/msi.go
  vendor/github.com/manicminer/hamilton/environments/apis.go
  vendor/github.com/manicminer/hamilton/environments/endpoints.go
  vendor/github.com/manicminer/hamilton/environments/environments.go
  vendor/github.com/manicminer/hamilton/msgraph/app_role_assignments.go
  vendor/github.com/manicminer/hamilton/msgraph/authentication_methods.go
  vendor/github.com/manicminer/hamilton/msgraph/conditionalaccesspolicy.go
  vendor/github.com/manicminer/hamilton/msgraph/sign_in_reports.go
  vendor/github.com/manicminer/hamilton/odata/errors.go
  vendor/modules.txt
Labels: size/XL, dependencies

#676 New resource: azuread_service_principal_delegated_permission_grant
  docs/resources/service_principal_delegated_permission_grant.md
  go.mod
  go.sum
  internal/services/approleassignments/app_role_assignment_resource.go
  internal/services/serviceprincipals/client/client.go
  internal/services/serviceprincipals/registration.go
  internal/services/serviceprincipals/service_principal_delegated_permission_grant_resource.go
  internal/services/serviceprincipals/service_principal_delegated_permission_grant_resource_test.go
  vendor/github.com/manicminer/hamilton/msgraph/administrative_units.go
  vendor/github.com/manicminer/hamilton/msgraph/delegated_permission_grants_client.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: new-resource, size/XL, dependencies, feature/service-principal

#672 Support for Administrative Units and their members
  .teamcity/components/project.kt
  docs/data-sources/administrative_unit.md
  docs/resources/administrative_unit.md
  docs/resources/administrative_unit_member.md
  internal/clients/client.go
  internal/provider/services.go
  internal/services/administrativeunits/administrative_unit_data_source.go
  internal/services/administrativeunits/administrative_unit_data_source_test.go
  internal/services/administrativeunits/administrative_unit_member_resource.go
  internal/services/administrativeunits/administrative_unit_member_resource_test.go
  internal/services/administrativeunits/administrative_unit_resource.go
  internal/services/administrativeunits/administrative_unit_resource_test.go
  internal/services/administrativeunits/administrative_units.go
  internal/services/administrativeunits/client/client.go
  internal/services/administrativeunits/parse/administrative_unit_member.go
  internal/services/administrativeunits/parse/object.go
  internal/services/administrativeunits/registration.go
  scripts/terrafmt-acctests.sh
Labels: new-data-source, new-resource, size/XL, feature/administrative-units

#673 Conditional Access improvements, support for device conditions
  .gitignore
  docs/resources/conditional_access_policy.md
  go.mod
  go.sum
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/conditionalaccess.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: enhancement, size/XL, dependencies, feature/conditional-access
