Repository hashicorp/terraform-provider-azuread, pull requests merged in 2021-02, with the labels that each got.

#394 Fix import example for azuread_service_principal_password
  docs/resources/service_principal_password.md
Labels: documentation, feature/service-principal

#393 azuread_group: add mail_enabled and security_enabled attributes
  docs/data-sources/group.md
  docs/resources/group.md
  internal/helpers/aadgraph/group.go
  internal/services/groups/group_data_source.go
  internal/services/groups/group_data_source_test.go
  internal/services/groups/group_resource.go
  internal/services/groups/groups_data_source.go
Labels: enhancement, feature/groups

#403 move to go 1.16
  .github/workflows/depscheck.yml
  .github/workflows/docs-lint.yml
  .github/workflows/golint.yml
  .github/workflows/tflint.yml
  .github/workflows/thirty-two-bit.yml
  .github/workflows/unit-test.yml
  .go-version
  README.md
Labels: dependencies, provider

#401 added support for guest users
  docs/resources/user.md
  internal/services/users/user_resource.go
  internal/services/users/user_resource_test.go
  internal/validate/strings.go
Labels: enhancement, feature/users

#404 Documentation fix for azuread_group
  docs/resources/group.md
Labels: documentation

#406 data.azuread_user: export the user_type attribute
  docs/data-sources/user.md
  docs/resources/user.md
  internal/services/users/user_data_source.go
  internal/services/users/user_data_source_test.go
Labels: documentation, enhancement, feature/users
