Repository hashicorp/terraform-provider-azuread, pull requests merged in 2021-12, with the labels that each got.

#684 azuread_application: Allow URNs for public_client redirect URIs
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
Labels: bug, size/XS, feature/application

#689 azuread_conditional_access_policy: fix docs to reflect that `All` isn't accepted for role/group conditions
  docs/resources/conditional_access_policy.md
Labels: size/XS, feature/conditional-access

#677 Conditional access policy - support persistent browser session control
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/conditionalaccess.go
Labels: enhancement, size/M, feature/conditional-access

#693 Upgrade golangci to 1.43.0 - so that `make tools` works on arm64
  GNUmakefile
Labels: size/XS, tooling

#695 `azuread_group`: support for `dynamic_memberships`
  docs/data-sources/group.md
  docs/resources/group.md
  go.mod
  go.sum
  internal/services/groups/group_data_source.go
  internal/services/groups/group_data_source_test.go
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
  vendor/github.com/manicminer/hamilton/auth/cache.go
  vendor/github.com/manicminer/hamilton/environments/apis.go
  vendor/github.com/manicminer/hamilton/environments/endpoints.go
  vendor/github.com/manicminer/hamilton/environments/environments.go
  vendor/github.com/manicminer/hamilton/environments/metadata.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: enhancement, size/XL, dependencies, feature/groups
