Repository hashicorp/terraform-provider-azuread, pull requests merged in 2021-05, with the labels that each got.

#429 Minor Documentation Correction: git clone URI should be a valid URI
  README.md
Labels: documentation

#432 tooling: updating Go, TeamCity & Terraform Core
  .github/workflows/depscheck.yml
  .github/workflows/docs-lint.yml
  .github/workflows/golint.yml
  .github/workflows/teamcity-test.yml
  .github/workflows/tflint.yml
  .github/workflows/thirty-two-bit.yml
  .github/workflows/unit-test.yml
  .go-version
  .teamcity/components/settings.kt
  .teamcity/settings.kts
  GNUmakefile
Labels: tests

#439 Bugfix: suppress spurious deprecation notice for `metadata_host` provider field even when not set
  docs/index.md
  internal/provider/provider.go
Labels: bug, provider

#440 Bugfix: error on password creation when `description` set for MS Graph
  docs/guides/microsoft-graph.md
  docs/resources/application_password.md
  docs/resources/service_principal_password.md
  internal/services/applications/application_password_resource_msgraph.go
  internal/services/serviceprincipals/service_principal_password_resource_msgraph.go
Labels: api/microsoft-graph, bug, documentation, feature/application, feature/service-principal
