Repository hashicorp/terraform-provider-azuread, pull requests merged in 2022-07, with the labels that each got.

#837 Bugfix: fix a bug with scoped role assignments and fix incorrect schema validation
  docs/resources/directory_role_assignment.md
  internal/services/directoryroles/directory_role_assignment_resource.go
  internal/services/directoryroles/directory_role_assignment_resource_test.go
Labels: bug, size/L, feature/directory-roles

#831 Bugfix: Only set `show_in_address_list` when changed in config as it is a potentially read-only attribute
  internal/services/users/user_resource.go
Labels: bug, size/XS, feature/users

#838 azuread_group: fix a bug where new group creation can error out before the timeout due to API inconsistency
  internal/services/groups/group_resource.go
Labels: bug, size/XS, feature/groups, consistency

#840 azuread_directory_role_assignment: fix a bug where `directory_scope_id` was not effectively optional
  internal/services/directoryroles/directory_role_assignment_resource.go
Labels: bug, size/XS, breaking-change, feature/directory-roles

#841 data.azuread_group: ensure security/mail enabled groups are excluded when explicitly `false` in config
  internal/services/groups/group_data_source.go
  internal/services/groups/group_data_source_test.go
  internal/services/groups/group_resource_test.go
Labels: bug, size/S, feature/groups

#849 Update application_password.md to reflect 'recreate resource' for display_name field.
  docs/resources/application_password.md
Labels: size/XS, documentation, feature/application
