Repository hashicorp/terraform-provider-azuread, pull requests merged in 2022-09, with the labels that each got.

#883 Docs: Office365 in included_applications and excluded_applications
  docs/resources/conditional_access_policy.md
Labels: size/XS, documentation, feature/conditional-access

#884 Docs: Add 'AllTrusted' as an option for 'excluded_locations'
  docs/resources/conditional_access_policy.md
Labels: size/XS, documentation, feature/conditional-access

#890 Fix: [azuread_application] The 'type' parameter in 'oauth2_permission_scope' block is marked as Required but behaves as Optional #888
  docs/resources/application.md
Labels: size/XS, documentation, feature/application

#877 Docs: explain default values for start_date for certificate resources
  docs/resources/application_certificate.md
  docs/resources/service_principal_certificate.md
Labels: size/XS, feature/service-principal, feature/application

#897 Authentication: support reading an ID token from a file
  docs/guides/service_principal_oidc.md
  docs/index.md
  internal/provider/provider.go
  internal/provider/provider_test.go
Labels: enhancement, size/M, documentation, authentication

#896 Service Principals: Use v1.0 API
  go.mod
  go.sum
  internal/services/groups/group_data_source.go
  internal/services/groups/group_resource.go
  internal/services/serviceprincipals/client/client.go
  internal/services/serviceprincipals/service_principal_data_source.go
  internal/services/serviceprincipals/service_principal_resource.go
  vendor/github.com/manicminer/hamilton/environments/published.go
  vendor/github.com/manicminer/hamilton/internal/utils/pointers.go
  vendor/github.com/manicminer/hamilton/msgraph/app_role_assignments.go
  vendor/github.com/manicminer/hamilton/msgraph/b2c_userflow.go
  vendor/github.com/manicminer/hamilton/msgraph/directory_objects.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/userflow_attributes.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/github.com/manicminer/hamilton/odata/query.go
  vendor/modules.txt
Labels: enhancement, size/XL, dependencies, feature/service-principal, api-bug, api-breaking-change
