Repository hashicorp/terraform-provider-azuread, pull requests merged in 2022-01, with the labels that each got.

#706 azuread_service_principal_password: re-add missing properties
  docs/guides/microsoft-graph.md
  docs/resources/service_principal_password.md
  internal/services/serviceprincipals/service_principal_password_resource.go
  internal/services/serviceprincipals/service_principal_password_resource_test.go
Labels: enhancement, size/M, feature/service-principal

#705 New resource: azuread_application_federated_identity_credential
  docs/resources/application_federated_identity_credential.md
  go.mod
  go.sum
  internal/services/applications/application_federated_identity_credential_resource.go
  internal/services/applications/application_federated_identity_credential_resource_test.go
  internal/services/applications/parse/credentials.go
  internal/services/applications/registration.go
  vendor/github.com/manicminer/hamilton/msgraph/applications.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: new-resource, size/XL, dependencies, feature/application

#713 Don't call /directoryObjects for applications or service principals
  docs/resources/group.md
  internal/services/applications/application_resource.go
  internal/services/serviceprincipals/service_principal_resource.go
Labels: bug, size/M, feature/service-principal, feature/application

#716 data.azuread_groups: support `display_name_prefix`
  docs/data-sources/groups.md
  internal/services/groups/groups_data_source.go
  internal/services/groups/groups_data_source_test.go
Labels: enhancement, size/M, feature/groups

#722 Upgrade Hamilton SDK for 0.40.0
  go.mod
  go.sum
  vendor/github.com/manicminer/hamilton/auth/auth.go
  vendor/github.com/manicminer/hamilton/auth/clientcredentials.go
  vendor/github.com/manicminer/hamilton/auth/github.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackage.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackagecatalog.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/role_assignments.go
  vendor/github.com/manicminer/hamilton/msgraph/role_definitions.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/github.com/manicminer/hamilton/odata/types.go
  vendor/modules.txt
Labels: size/XL, dependencies

#723 Groups: support additional settings for unified groups
  docs/data-sources/group.md
  docs/resources/group.md
  go.mod
  go.sum
  internal/helpers/consistency.go
  internal/services/groups/group_data_source.go
  internal/services/groups/group_data_source_test.go
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
  internal/services/groups/groups.go
  vendor/github.com/manicminer/hamilton/msgraph/groups.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/modules.txt
Labels: enhancement, size/XL, dependencies, feature/groups

#725 Bump provider version in docs
  docs/index.md
Labels: size/XS
