Repository hashicorp/terraform-provider-azuread, pull requests merged in 2023-02, with the labels that each got.

#995 Bug in error message
  internal/services/users/user_data_source.go
Labels: bug, size/XS, feature/groups

#1006 Fix error creating rbac example
  examples/create-for-rbac/main.tf
  examples/create-for-rbac/outputs.tf
Labels: size/XS, documentation

#991 azuread_application: document `description` property, also add to data source
  docs/data-sources/application.md
  docs/resources/application.md
  internal/services/applications/application_data_source.go
Labels: size/XS, feature/application

#1010 Applications: support app role values up to 249 characters
  internal/services/applications/validate/tokens.go
  internal/services/applications/validate/tokens_test.go
Labels: bug, size/XS, feature/application

#1014 Bugfix: retrieve authenticated principal from MS Graph when `oid` claim is missing from access token
  internal/clients/client.go
  internal/provider/provider_test.go
  internal/services/applications/application_resource.go
  internal/services/groups/group_resource.go
  internal/services/serviceprincipals/client_config_data_source.go
  internal/services/serviceprincipals/service_principal_resource.go
  internal/services/users/client/client.go
Labels: bug, size/M, provider, authentication

#1023 Workaround: revert to using the beta API for applications
  internal/services/administrativeunits/client/client.go
  internal/services/applications/client/client.go
  internal/services/groups/client/client.go
  internal/services/users/client/client.go
Labels: size/XS, feature/application, api-bug

#1011 Add `template_ids` to `azuread_directory_roles`
  docs/data-sources/directory_roles.md
  internal/services/directoryroles/directory_roles_data_source.go
  internal/services/directoryroles/directory_roles_data_source_test.go
Labels: enhancement, size/XS, feature/directory-roles

#1027 azuread_application: support the `notes` property
  docs/data-sources/application.md
  docs/resources/application.md
  go.mod
  go.sum
  internal/services/applications/application_data_source.go
  internal/services/applications/application_federated_identity_credential_resource.go
  internal/services/applications/application_federated_identity_credential_resource_test.go
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/modules.txt
Labels: enhancement, size/S, dependencies, feature/application

#1028 azuread_group: only send additional fields when absolutely necessary
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
Labels: bug, size/S, feature/groups

#1030 Bugfix: synchronization only in beta API
  internal/services/serviceprincipals/client/client.go
Labels: bug, size/XS, regression, feature/synchronization

#1038 Acceptance testing: build separate client for checks
  internal/acceptance/check/that.go
  internal/acceptance/testcase.go
  internal/acceptance/testclient/client.go
Labels: size/M, tests
