Repository hashicorp/terraform-provider-azuread, pull requests merged in 2023-04, with the labels that each got.

#1062 dependencies: updating to `v0.60.0` of `github.com/manicminer/hamilton`
  go.mod
  go.sum
  scripts/update-deps.sh
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/azure_cli_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/cached_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/client_certificate_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/client_credentials.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/client_secret_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/github_oidc_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/managed_identity_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/oidc_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/shared_key_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/token.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/claims/claims.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/application_ids.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_china.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_gov.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_public.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_public_canary.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_stack.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/base.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/endpoint_refresh.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/environment.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/helpers.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/interfaces.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/scopes.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/azurecli/versions.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/metadata/helpers.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/metadata/models.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/odata/types.go
  vendor/github.com/manicminer/hamilton/msgraph/groups.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/serviceprincipals.go
  vendor/github.com/manicminer/hamilton/msgraph/token_issuance_policy.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/github.com/manicminer/hamilton/msgraph/windows_autopilot_deployment_profiles.go
  vendor/modules.txt
Labels: size/XL, dependencies, tooling

#903 Add support to manage access packages in identitygovernance
  docs/data-sources/access_package.md
  docs/data-sources/access_package_catalog.md
  docs/resources/access_package.md
  docs/resources/access_package_assignment_policy.md
  docs/resources/access_package_catalog.md
  docs/resources/access_package_resource_catalog_association.md
  docs/resources/access_package_resource_package_association.md
  internal/clients/client.go
  internal/provider/services.go
  internal/services/identitygovernance/access_package_assignment_policy_resource.go
  internal/services/identitygovernance/access_package_assignment_policy_resource_test.go
  internal/services/identitygovernance/access_package_catalog_data_source.go
  internal/services/identitygovernance/access_package_catalog_data_source_test.go
  internal/services/identitygovernance/access_package_catalog_resource.go
  internal/services/identitygovernance/access_package_catalog_resource_test.go
  internal/services/identitygovernance/access_package_data_source.go
  internal/services/identitygovernance/access_package_data_source_test.go
  internal/services/identitygovernance/access_package_resource.go
  internal/services/identitygovernance/access_package_resource_catalog_association_resource.go
  internal/services/identitygovernance/access_package_resource_catalog_association_resource_test.go
  internal/services/identitygovernance/access_package_resource_package_association_resource.go
  internal/services/identitygovernance/access_package_resource_package_association_resource_test.go
  internal/services/identitygovernance/access_package_resource_test.go
  internal/services/identitygovernance/client/client.go
  internal/services/identitygovernance/identitygovernance.go
  internal/services/identitygovernance/parse/access_package_resource_catalog_association_id.go
  internal/services/identitygovernance/parse/access_package_resource_package_association_id.go
  internal/services/identitygovernance/registration.go
  internal/services/identitygovernance/schema.go
  internal/services/identitygovernance/validate/access_package_resource_catalog_association_id.go
  internal/services/identitygovernance/validate/access_package_resource_package_association_id.go
Labels: new-resource, size/XL, feature/identitygovernance

#964 Add group writeback functionality
  docs/data-sources/group.md
  docs/resources/group.md
  internal/services/groups/group_data_source.go
  internal/services/groups/group_data_source_test.go
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
Labels: enhancement, size/L, feature/groups

#996 Add support for mail lookup
  docs/data-sources/user.md
  internal/services/users/user_data_source.go
  internal/services/users/user_data_source_test.go
Labels: enhancement, size/M, feature/groups

#983 Add `azuread_administrative_unit_role_member`
  docs/resources/administrative_unit_role_member.md
  internal/services/administrativeunits/administrative_unit_role_member_resource.go
  internal/services/administrativeunits/administrative_unit_role_member_resource_test.go
  internal/services/administrativeunits/parse/administrative_unit_role_member.go
  internal/services/administrativeunits/parse/object.go
  internal/services/administrativeunits/registration.go
  internal/services/applications/parse/object.go
  internal/services/approleassignments/parse/object.go
  internal/services/directoryroles/parse/object.go
  internal/services/groups/parse/object.go
  internal/services/serviceprincipals/parse/object.go
Labels: new-resource, size/XL, feature/administrative-units

#1046 Add service man ref
  docs/data-sources/application.md
  docs/resources/application.md
  internal/services/applications/application_data_source.go
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
Labels: enhancement, size/M, feature/application

#1063 New resource: azuread_user_flow_attribute
  .teamcity/components/project.kt
  docs/resources/user_flow_attribute.md
  go.mod
  go.sum
  internal/clients/client.go
  internal/provider/services.go
  internal/services/userflows/client/client.go
  internal/services/userflows/registration.go
  internal/services/userflows/user_flow_attribute_resource.go
  internal/services/userflows/user_flow_attribute_resource_test.go
  vendor/github.com/manicminer/hamilton/msgraph/role_assignments.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: new-resource, size/XL, dependencies

#1071 Tidy up docs for access_package_assignment_policy
  docs/resources/access_package_assignment_policy.md
  internal/services/identitygovernance/access_package_assignment_policy_resource.go
Labels: bug, size/S, feature/identitygovernance

#1070 Fix regression: writeback configuration should be omitted on creation
  docs/resources/group.md
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
Labels: bug, regression, size/S

#1074 Handle cases where a new unified group does _not_ get an out of band description asynchronously added
  internal/services/groups/group_resource.go
Labels: size/XS, feature/groups, api-bug

#1076 azuread_group: regression fixes
  docs/resources/group.md
  internal/services/groups/group_data_source.go
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
  internal/services/groups/groups.go
Labels: size/M, regression, feature/groups, api-bug

#1073 Support for testing in alternate tenants
  internal/acceptance/check/that.go
  internal/acceptance/data.go
  internal/acceptance/testcase.go
  internal/acceptance/testclient/client.go
Labels: size/S, tests

#1078 Tooling: re-enable tfproviderlint
  .github/workflows/tflint.yaml
  internal/services/applications/application_federated_identity_credential_resource.go
Labels: size/XS, tests, tooling

#1082 Bugfix: nil check when reading service principal token signing certificate data
  internal/helpers/credentials.go
  internal/services/serviceprincipals/service_principal_token_signing_certificate_resource.go
Labels: bug, size/XS, feature/service-principal

#1088 azuread_group: update doc to clarify `assignable_to_role`
  docs/resources/group.md
Labels: size/XS, feature/groups

#1089 data.azuread_application_published_app_ids: fix broken link in docs
  docs/data-sources/application_published_app_ids.md
Labels: size/XS, feature/application

#1033 Add `azuread_access_package_catalog_role` and `azuread_access_package_catalog_role_assignment`
  docs/data-sources/access_package_catalog_role.md
  docs/resources/access_package_catalog_role_assignment.md
  internal/services/identitygovernance/access_package_catalog_role_assignment_resource.go
  internal/services/identitygovernance/access_package_catalog_role_assignment_resource_test.go
  internal/services/identitygovernance/access_package_catalog_role_data_source.go
  internal/services/identitygovernance/access_package_catalog_role_data_source_test.go
  internal/services/identitygovernance/client/client.go
  internal/services/identitygovernance/registration.go
Labels: new-resource, size/XL, feature/identitygovernance
