Repository hashicorp/terraform-provider-azuread, pull requests merged in 2023-10, with the labels that each got.

#1198 Fix group member resource to survive refresh when group is missing
  internal/services/groups/group_member_resource.go
Labels: bug, size/XS, feature/groups

#1211 Update to Go 1.21.3
  .github/workflows/link-milestone.yaml
  .go-version
  go.mod
  go.sum
Labels: size/XS, dependencies, tooling

#1171 Add support for `azuread_authentication_strength_policy`
  docs/resources/authentication_strength_policy.md
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/authentication_strength_policy_resource.go
  internal/services/conditionalaccess/authentication_strength_policy_resource_test.go
  internal/services/conditionalaccess/client/client.go
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/conditionalaccess.go
  internal/services/conditionalaccess/registration.go
Labels: size/XL

#1221 Applications: DiffSuppressFunc for `application_object_id`
  internal/services/applications/application_certificate_resource.go
  internal/services/applications/application_federated_identity_credential_resource.go
  internal/services/applications/application_password_resource.go
  internal/services/applications/application_pre_authorized_resource.go
Labels: bug, size/S, feature/application

#1220 Fix `application_id` references in `azuread_service_principal` & `azuread_application_published_app_ids`
  docs/data-sources/application_published_app_ids.md
  docs/resources/service_principal.md
Labels: size/XS, documentation, feature/service-principal

#1223 New Resource: `azuread_application_optional_claims`
  docs/resources/application.md
  docs/resources/application_optional_claims.md
  internal/acceptance/check/that.go
  internal/services/applications/application_optional_claims_resource.go
  internal/services/applications/application_optional_claims_resource_test.go
  internal/services/applications/parse/optional_claims.go
  internal/services/applications/parse/redirect_uris.go
  internal/services/applications/registration.go
Labels: new-resource, size/XL, feature/application

#1229 `azuread_conditional_access_policy`: support `sign_in_frequency_authentication_type` and `sign_in_frequency_interval`
  docs/resources/conditional_access_policy.md
  go.mod
  go.sum
  internal/services/conditionalaccess/authentication_strength_policy_resource_test.go
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/conditionalaccess.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: size/XL, dependencies, feature/conditional-access

#1222 Implement conditional access policies guests_or_internal_users
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/conditionalaccess.go
Labels: enhancement, size/XL, feature/conditional-access
