Repository hashicorp/terraform-provider-azuread, pull requests merged in 2023-01, with the labels that each got.

#972 Use CodelyTV/pr-size-labeler for GH labeling
  .github/workflows/pull-request.yaml
Labels: tooling

#967 Add support for cloud_displayname
  internal/services/applications/schema.go
Labels: enhancement, size/XS, feature/application

#945 Add `azuread_directory_roles` data source
  docs/data-sources/directory_roles.md
  internal/services/directoryroles/directory_roles_data_source.go
  internal/services/directoryroles/directory_roles_data_source_test.go
  internal/services/directoryroles/registration.go
Labels: size/L, new-data-source, feature/directory-roles

#971 fix: oauth2Permissions and appRoles allow dupes
  .gitignore
  internal/services/applications/application_resource_test.go
  internal/services/applications/applications.go
Labels: bug, size/L, feature/application

#921 Clarify the least privilege permissions needed for the azuread_application
  docs/resources/application.md
Labels: size/XS, documentation, feature/application

#922 Update service principal permissions requirements
  docs/resources/service_principal.md
Labels: size/XS, documentation, feature/service-principal

#977 `azuread_application` - support the `description` property
  go.mod
  go.sum
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/logging/logging.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource/plugin.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource/testcase_providers.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource/testing.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource/testing_new.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource/testing_new_import_state.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource/teststep_providers.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/internal/plugintest/config.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/internal/plugintest/helper.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/internal/plugintest/working_dir.go
  vendor/github.com/manicminer/hamilton/environments/published.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: enhancement, size/L, dependencies, feature/application

#968 Add token signing certificate resource
  docs/resources/service_principal_token_signing_certificate.md
  internal/helpers/credentials.go
  internal/services/serviceprincipals/parse/credentials.go
  internal/services/serviceprincipals/registration.go
  internal/services/serviceprincipals/service_principal_token_signing_certificate_resource.go
  internal/services/serviceprincipals/service_principal_token_signing_certificate_resource_test.go
Labels: new-resource, size/XL, feature/service-principal

#979 azuread_group: mail_nickname can contain a period (.)
  internal/services/groups/group_resource_test.go
  internal/validate/mail.go
Labels: bug, size/XS, feature/groups

#980 azuread_group: fix for issue that prevents replacing a group when `prevent_duplicate_names = true`
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
Labels: bug, size/S, feature/groups

#981 azuread_delegated_permission_grant - fix bad existence check in read func
  internal/services/serviceprincipals/service_principal_delegated_permission_grant_resource.go
Labels: bug, size/XS, feature/delegated-permission-grants

#982 azuread_group: set the display name correctly on creation, and patch afterwards for consistency checks
  internal/services/groups/group_resource.go
Labels: bug, size/S, feature/groups

#988 azuread_application, azuread_service_principal: docs note to clarify tags usage
  docs/resources/application.md
  docs/resources/service_principal.md
Labels: size/XS, feature/service-principal, feature/application

#987 Remove Workaround for US Gov Bug
  internal/services/applications/client/client.go
Labels: bug, size/XS, env/usgovernment
