Repository hashicorp/terraform-provider-azuread, pull requests merged in 2023-11, with the labels that each got.

#1244 Fix example for azuread_application_api_access
  docs/resources/application_api_access.md
Labels: size/XS, documentation

#1242 Issue: 1216 - Updated documentation to include second example
  docs/resources/authentication_strength_policy.md
  internal/services/conditionalaccess/client/client.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/registration.go
  internal/services/policies/authentication_strength_policy_resource.go
  internal/services/policies/authentication_strength_policy_resource_test.go
  internal/services/policies/client/client.go
  internal/services/policies/registration.go
Labels: size/M, refactor, feature/conditional-access, feature/policies

#1252 docs: fix import examples for `azuread_application` and `azuread_application_redirect_uris`
  docs/resources/application.md
  docs/resources/application_redirect_uris.md
Labels: size/XS, feature/application

#1253 docs: document the `id` attribute for `azuread_application`
  docs/resources/application.md
  docs/resources/application_registration.md
Labels: size/XS, feature/application

#1255 `data.azuread_application`: updated resource ID
  docs/data-sources/application.md
  internal/services/applications/application_data_source.go
Labels: enhancement, size/XS, feature/application

#1254 azuread_named_location: validation for `ip_ranges` property
  docs/resources/named_location.md
  internal/services/conditionalaccess/named_location_resource.go
  internal/tf/validation/net.go
  internal/tf/validation/net_test.go
Labels: enhancement, size/L, feature/conditional-access
