Repository hashicorp/terraform-provider-azuread, pull requests merged in 2023-09, with the labels that each got.

#1189 Allow for setting client ID / secret through files
  internal/provider/provider.go
  internal/provider/provider_test.go
Labels: size/L, provider, authentication

#1168 `azuread_conditional_access_policy` set `built_in_controls` to optional
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/conditional_access_policy_resource.go
Labels: bug, size/XS, feature/conditional-access

#1162 Fix example code of the access_package_assignment_policy resource
  docs/resources/access_package_assignment_policy.md
Labels: size/XS, documentation, feature/identitygovernance

#1173 data.azuread_group: allow lookup by mail_nickname
  docs/data-sources/group.md
  internal/services/groups/group_data_source.go
  internal/services/groups/group_data_source_test.go
Labels: enhancement, size/M, feature/groups

#1191 Add documentation for new provider properties
  docs/index.md
Labels: size/XS, documentation, provider

#1197 Tooling: GitHub workflow updates
  .github/labeler-issue-triage.yaml
  .github/labeler-pull-request-triage.yaml
  .github/workflows/acctest-oidc.yaml
  .github/workflows/depscheck.yaml
  .github/workflows/docs-lint.yaml
  .github/workflows/golint.yaml
  .github/workflows/increment-milestone.yaml
  .github/workflows/issue-comment-created.yaml
  .github/workflows/issue-opened.yaml
  .github/workflows/link-milestone.yaml
  .github/workflows/provider-test.yaml
  .github/workflows/pull-request-new-commit.yaml
  .github/workflows/pull-request-reviewed-workflow.yaml
  .github/workflows/pull-request-reviewed.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/remove-issue-label.yaml
  .github/workflows/save-artifacts.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/validate-examples.yaml
  internal/clients/builder.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  scripts/increment-milestone.sh
Labels: size/XL, provider, tooling

#974 Add azuread_directory_role_eligibility_schedule_request resource
  docs/resources/directory_role_eligibility_schedule_request.md
  internal/services/directoryroles/client/client.go
  internal/services/directoryroles/directory_role_eligibility_schedule_request_resource.go
  internal/services/directoryroles/directory_role_eligibility_schedule_request_resource_test.go
  internal/services/directoryroles/registration.go
Labels: new-resource, size/XL, upstream-hamilton, feature/directory-roles
