Repository hashicorp/terraform-provider-azuread, pull requests merged in 2023-03, with the labels that each got.

#1037 Workaround: auto-retry group creation without calling principal as owner
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
Labels: size/M, feature/groups, api-bug

#1052 Fix api permission docs on azuread_application resource
  docs/resources/application.md
Labels: size/XS, documentation, feature/application

#1050 Bugfix: serviceprincipal owner removal #1049
  internal/services/serviceprincipals/service_principal_resource.go
  internal/services/serviceprincipals/service_principal_resource_test.go
Labels: bug, size/XS, feature/service-principal

#1045 Fix accuracy in documentation of Application permissions for azuread_group and azuread_group_member
  docs/resources/group.md
  docs/resources/group_member.md
Labels: size/XS, feature/groups
