Repository hashicorp/terraform-provider-azuread, pull requests merged in 2023-07, with the labels that each got.

#1107 Fix azuread_administrative_unit documentation
  docs/resources/administrative_unit.md
Labels: size/XS, documentation, feature/administrative-units

#1135 `azuread_conditional_access_policy` - Add `disable_session_resilience` property
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/conditionalaccess.go
Labels: enhancement, size/XS, feature/conditional-access

#1047 Issue 985 - Add support for clientApplications in conditional access policies
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/conditionalaccess.go
Labels: enhancement, size/L, feature/conditional-access

#1143 teamcity: updating to use a single VCS Root
  .teamcity/components/build_azure.kt
  .teamcity/components/build_config_pull_request.kt
  .teamcity/components/build_config_service.kt
  .teamcity/components/project.kt
  .teamcity/components/vcs_root.kt
  .teamcity/settings.kts
Labels: size/S, tooling

#1040 Find user and users by using employee ID
  docs/data-sources/user.md
  docs/data-sources/users.md
  internal/services/users/user_data_source.go
  internal/services/users/user_data_source_test.go
  internal/services/users/user_resource_test.go
  internal/services/users/users_data_source.go
  internal/services/users/users_data_source_test.go
Labels: enhancement, size/L, feature/users

#1144 azuread_group: support additional group behaviors
  go.mod
  go.sum
  internal/services/groups/group_resource.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackageresource.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackageresourcerolescope.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/role_eligibility_schedule_request.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: enhancement, size/L, dependencies, feature/groups

#1154 Tooling: add missing package to TC config, remove Azure Germany from supported clouds
  .teamcity/components/project.kt
  .teamcity/components/settings.kt
Labels: size/XS, tooling

#1145 `azuread_conditional_access` - add support for `service_principal_risk_levels`
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/conditionalaccess.go
Labels: enhancement, size/S, feature/conditional-access

#1124 Adding a delete method for `azuread_access_package_resource_package_association`
  internal/services/identitygovernance/access_package_resource_package_association_resource.go
Labels: bug, size/XS, feature/identitygovernance

#1157 teamcity: adding the default vcs root id
  .teamcity/settings.kts
Labels: size/XS

#1156 New data source: `azuread_named_location`
  docs/data-sources/named_location.md
  docs/resources/named_location.md
  internal/services/conditionalaccess/named_location_data_source.go
  internal/services/conditionalaccess/named_location_data_source_test.go
  internal/services/conditionalaccess/named_location_resource.go
  internal/services/conditionalaccess/registration.go
Labels: bug, size/L, new-data-source, feature/conditional-access

#1155 Bugfix: enable setting of `session_controls` instead of, or in addition to, `grant_controls`
  docs/resources/conditional_access_policy.md
  go.mod
  go.sum
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/identitygovernance/access_package_assignment_policy_resource.go
  vendor/github.com/manicminer/hamilton/msgraph/authentication_strength_policy.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: bug, size/XL, dependencies, feature/conditional-access

#1159 azuread_access_package_assignment_policy: support `Manager` value for `review_type`
  docs/resources/access_package_assignment_policy.md
  internal/services/identitygovernance/access_package_assignment_policy_resource.go
Labels: enhancement, size/XS, feature/identitygovernance
