Repository hashicorp/terraform-provider-azuread, pull requests merged in 2024-04, with the labels that each got.

#1353 Update go-azure-sdk for latest metadata fixes
  go.mod
  go.sum
  internal/acceptance/testclient/client.go
  internal/acceptance/testing.go
  internal/provider/helpers.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/azure_cli_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/shared_key_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_china.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_gov.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_public.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_public_canary.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/endpoint_refresh.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/environment.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/from_endpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/helpers.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/interfaces.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/azurecli/azcli.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/metadata/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/metadata/models.go
  vendor/modules.txt
Labels: bug, size/XL, provider, dependencies, authentication, env/usgovernment

#1360 Update .goreleaser.yml to include LICENSE
  .goreleaser.yml
Labels: size/XS

#1362 docs: add to resource_app_id description and fix typos in service_principals.md
  docs/data-sources/service_principals.md
  internal/services/applications/application_data_source.go
Labels: size/XS, documentation, feature/applications
