Repository hashicorp/terraform-provider-azuread, pull requests merged in 2024-06, with the labels that each got.

#1395 docs: add note on using `ignore_changes` on `administrative_unit_ids` for `azuread_group`
  docs/resources/administrative_unit.md
  docs/resources/administrative_unit_member.md
  docs/resources/group.md
  internal/services/administrativeunits/administrative_unit_member_resource_test.go
  internal/services/administrativeunits/administrative_unit_resource_test.go
Labels: size/XS, documentation, feature/groups, tests, feature/administrative-units

#1394 bugfix: allow disabling review settings for `azuread_access_package_assignment_policy`
  go.mod
  go.sum
  internal/services/directoryroles/directory_role_eligibility_schedule_request_resource_test.go
  internal/services/identitygovernance/access_package_assignment_policy_resource_test.go
  internal/services/identitygovernance/identitygovernance.go
  vendor/github.com/manicminer/hamilton/msgraph/application_templates.go
  vendor/github.com/manicminer/hamilton/msgraph/attribute_set.go
  vendor/github.com/manicminer/hamilton/msgraph/custom_security_attributes.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/users.go
  vendor/modules.txt
Labels: bug, size/XL, dependencies, feature/directory-roles, feature/identity-governance

#1383 azuread_user: acceptance test for setting an invalid password
  internal/services/users/user_resource_test.go
Labels: size/S, feature/users, tests

#1387 tooling: enable running a release from a branch instead of `main`
  scripts/release.sh
Labels: size/S, tooling

#1400 data.azuread_users: support for the `mails` property
  docs/data-sources/users.md
  internal/services/users/user_resource_test.go
  internal/services/users/users_data_source.go
  internal/services/users/users_data_source_test.go
Labels: enhancement, size/M, documentation, feature/users

#1403 azuread_application: support `ignore_changes` lifecycle argument
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
Labels: bug, size/M, feature/applications

#1406 `azuread_application`: work around very buggy API when instantiating from template
  go.mod
  go.sum
  internal/services/applications/application_redirect_uris_resource.go
  internal/services/applications/application_registration_resource.go
  internal/services/applications/application_resource.go
  internal/services/applications/client/client.go
  vendor/github.com/manicminer/hamilton/msgraph/application_templates.go
  vendor/modules.txt
Labels: size/M, dependencies, feature/applications, api-bug, env/usgovernment

#1389 azuread_application: add password property
  docs/resources/application.md
  internal/helpers/credentials.go
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  internal/services/applications/applications.go
Labels: enhancement, documentation, size/XL, feature/applications

#1422 regression: `azuread_application` - don't populate the `password` block unless specified in config
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
Labels: regression, size/S, feature/applications
