Repository hashicorp/terraform-provider-azuread, pull requests merged in 2024-05, with the labels that each got.

#1363 Update .goreleaser.yml
  .goreleaser.yml
Labels: size/XS

#1327 Add support for PIM Group management
  .github/labeler-issue-triage.yaml
  docs/data-sources/group_role_management_policy.md
  docs/resources/group_role_management_policy.md
  docs/resources/privileged_access_group_assignment_schedule.md
  docs/resources/privileged_access_group_eligibility_schedule.md
  go.mod
  go.sum
  internal/provider/services.go
  internal/services/identitygovernance/client/client.go
  internal/services/identitygovernance/helpers/test.go
  internal/services/identitygovernance/parse/privileged_access_group_schedule.go
  internal/services/identitygovernance/privileged_access_group_assignment_schedule_resource.go
  internal/services/identitygovernance/privileged_access_group_assignment_schedule_resource_test.go
  internal/services/identitygovernance/privileged_access_group_eligiblity_schedule_resource.go
  internal/services/identitygovernance/privileged_access_group_eligiblity_schedule_resource_test.go
  internal/services/identitygovernance/privileged_access_group_schedule.go
  internal/services/identitygovernance/registration.go
  internal/services/policies/client/client.go
  internal/services/policies/group_role_management_policy_data_source.go
  internal/services/policies/group_role_management_policy_data_source_test.go
  internal/services/policies/group_role_management_policy_resource.go
  internal/services/policies/group_role_management_policy_resource_test.go
  internal/services/policies/parse/role_management_policy.go
  internal/services/policies/parse/role_management_policy_assignment.go
  internal/services/policies/parse/role_management_policy_rule.go
  internal/services/policies/registration.go
  vendor/github.com/manicminer/hamilton/msgraph/accesspackageresourcerole.go
  vendor/github.com/manicminer/hamilton/msgraph/client.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/privilegedaccess_groups_assignmentschedule.go
  vendor/github.com/manicminer/hamilton/msgraph/privilegedaccess_groups_assignmentschedule_instance.go
  vendor/github.com/manicminer/hamilton/msgraph/privilegedaccess_groups_assignmentschedule_requests.go
  vendor/github.com/manicminer/hamilton/msgraph/privilegedaccess_groups_eligibilityschedule.go
  vendor/github.com/manicminer/hamilton/msgraph/privilegedaccess_groups_eligibilityschedule_instance.go
  vendor/github.com/manicminer/hamilton/msgraph/privilegedaccess_groups_eligibilityschedule_request.go
  vendor/github.com/manicminer/hamilton/msgraph/role_management_policies.go
  vendor/github.com/manicminer/hamilton/msgraph/role_management_policies_assignment.go
  vendor/github.com/manicminer/hamilton/msgraph/role_management_policies_rules.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/modules.txt
Labels: documentation, size/XL, dependencies, tooling, feature/policies, feature/identity-governance

#1351 Relaxed validation for identifier_uri attribute in azuread_application_identifier_uri resource
  internal/services/applications/application_identifier_uri_resource.go
  internal/services/applications/application_resource.go
Labels: size/XS, feature/applications

#1328 Change validation of employeeType
  internal/services/users/user_resource.go
Labels: size/XS, feature/users

#1293 Include Example Of ARM_USE_OIDC
  docs/guides/service_principal_oidc.md
Labels: documentation

#1368 copywrite config
  .copywrite.hcl
Labels: size/XS, tooling

#1181 Doco update for Groups
  docs/resources/group.md
Labels: size/XS, documentation, feature/groups

#1266 docs: update docs to show service principal login is now supported
  docs/guides/azure_cli.md
Labels: enhancement, documentation, size/S, authentication

#1300 Feature: #881 Enable azuread_group to return indirect members
  docs/data-sources/group.md
  internal/services/groups/group_data_source.go
  internal/services/groups/group_data_source_test.go
  internal/services/groups/group_resource_test.go
Labels: enhancement, size/M, documentation, feature/groups

#1310 Adjust documentation for group_membership_claims accepted values
  docs/resources/application.md
Labels: size/XS, documentation, feature/applications

#1299 Fix to issue: 1296 azuread_application_pre_authorized does not properly destroy
  internal/services/applications/application_pre_authorized_resource.go
  internal/services/applications/application_pre_authorized_resource_test.go
Labels: bug, size/M, feature/applications

#1370 azuread_group: support `SkipExchangeInstantOn` for `behaviors`
  docs/resources/group.md
  internal/services/groups/group_resource.go
Labels: enhancement, size/XS, documentation, feature/groups

#1371 bugfix: fix incorrect synchronization package registration
  .github/labeler-issue-triage.yaml
  .github/labeler-pull-request-triage.yaml
  .teamcity/components/generated/services.kt
  internal/services/synchronization/registration.go
Labels: bug, size/XS, documentation, feature/service-principals, tooling, feature/synchronization

#1032 fixed #1031 adds provision on demand
  docs/resources/synchronization_job_provision_on_demand.md
  internal/services/synchronization/registration.go
  internal/services/synchronization/synchronization.go
  internal/services/synchronization/synchronization_job_provision_on_demand_resource.go
  internal/services/synchronization/synchronization_job_provision_on_demand_resource_test.go
Labels: documentation, new-resource, size/XL, feature/service-principals, feature/synchronization

#1375 bugfix: resolve several potential crashes in new PIM resources
  internal/services/identitygovernance/privileged_access_group_assignment_schedule_resource.go
  internal/services/identitygovernance/privileged_access_group_eligiblity_schedule_resource.go
  internal/services/identitygovernance/privileged_access_group_schedule.go
  internal/services/policies/group_role_management_policy_data_source.go
  internal/services/policies/group_role_management_policy_resource.go
Labels: bug, size/XL, crash, feature/policies, feature/identity-governance

#1303 feat: allow data.azuread_application lookup using identifier_uri
  docs/data-sources/application.md
  internal/services/applications/application_data_source.go
  internal/services/applications/application_data_source_test.go
Labels: enhancement, documentation, size/S, feature/applications

#1381 data.azuread_service_principal: display name comparison should be case-insensitive
  internal/services/serviceprincipals/service_principal_data_source.go
  internal/services/serviceprincipals/service_principal_data_source_test.go
Labels: bug, size/S, feature/service-principals

#1379 bugfix: run d.Partial() to avoid setting invalid password to state when a user update fails
  internal/services/users/user_resource.go
Labels: bug, size/XS, feature/users

#1380 use single runner label for custom-linux-large
  .github/workflows/gencheck.yaml
  .github/workflows/provider-test.yaml
  .github/workflows/unit-test.yaml
Labels: size/XS, tooling

#1382 azuread_conditional_access_policy: improve handling of the `session_controls` block
  go.mod
  go.sum
  internal/services/conditionalaccess/conditional_access_policy_resource.go
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
  internal/services/conditionalaccess/conditionalaccess.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/modules.txt
Labels: bug, enhancement, size/L, dependencies, feature/conditional-access

#1329 feat: add runtime provider debugging capability
  GNUmakefile
  README.md
  main.go
Labels: size/S, tooling

#1384 tooling: updating version of hashicorp/ghaction-terraform-provider-release to v4.0.1
  .github/workflows/release.yaml
Labels: size/XS, tooling
