Repository hashicorp/terraform-provider-azuread, pull requests merged in 2025-03, with the labels that each got.

#1664 `azuread_access_package_assignment_policy` - fix crash in `Read`
  internal/services/identitygovernance/identitygovernance.go
Labels: size/XS, feature/identity-governance

#1567 fix: azuread_access_package_assignment_policy fails with alternative_approver
  internal/services/identitygovernance/identitygovernance.go
Labels: size/XS, feature/identity-governance

#1666 `azuread_group_role_management_policy` - stop drift by making `approval_status` computed
  internal/services/policies/group_role_management_policy_resource.go
  internal/services/policies/group_role_management_policy_resource_test.go
Labels: size/S, feature/policies

#1670 `testing` - post 3.0 test cleanup
  .teamcity/components/settings.kt
  internal/acceptance/data.go
  internal/acceptance/helpers/is_not_resource_action.go
  internal/acceptance/testcase.go
  internal/acceptance/testing.go
  internal/helpers/consistency/consistency.go
  internal/services/administrativeunits/administrative_unit_role_member_resource_test.go
  internal/services/applications/application_fallback_public_client_resource_test.go
  internal/services/applications/application_resource.go
  internal/services/applications/application_resource_test.go
  internal/services/conditionalaccess/named_location_resource.go
  internal/services/directoryobjects/directory_object_data_source_test.go
  internal/services/groups/group_data_source_test.go
  internal/services/groups/group_resource.go
  internal/services/groups/group_resource_test.go
  internal/services/serviceprincipals/service_principal_data_source_test.go
  internal/services/serviceprincipals/service_principal_resource_test.go
  internal/services/userflows/user_flow_attribute_resource.go
  internal/services/userflows/user_flow_attribute_resource_test.go
Labels: size/XL, feature/service-principals, feature/applications, feature/groups, feature/conditional-access, feature/administrative-units, feature/user-flows, feature/directory-objects

#1635 dependencies: update go-azure-sdk to v0.20250131.1134653
  docs/guides/service_principal_oidc.md
  docs/index.md
  go.mod
  go.sum
  internal/provider/provider.go
  internal/provider/provider_test.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/README.md
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/ado_pipeline_oidc_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/auth.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/config.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/client.go
  vendor/modules.txt
Labels: documentation, size/XL, dependencies

#1623 New Resource: `azuread_group_without_members`
  .github/labeler-issue-triage.yaml
  internal/services/groups/group_without_members_resource.go
  internal/services/groups/group_without_members_resource_test.go
  internal/services/groups/registration.go
Labels: size/XL, feature/groups, tooling

#1673 `docs` - missed doc for `azuread_group_without_members`
  docs/resources/group_without_members.md
Labels: size/L, documentation

#1665 CHANGELOG.md for release `v3.2.0`
  CHANGELOG.md
Labels: size/XS
