Repository hashicorp/terraform-provider-azuread, pull requests merged in 2025-04, with the labels that each got.

#1575 azuread_directory_role: fix for changes in Graph API
  internal/services/directoryroles/directory_role_resource.go
Labels: size/XS, feature/directory-roles

#1682 `azuread_directory_role_eligibility_schedule_request` - fix `read` for time based service deletion of `request` resource
  .teamcity/components/build_azure.kt
  internal/services/directoryroles/client/client.go
  internal/services/directoryroles/directory_role_eligibility_schedule_request_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/microsoft-graph/rolemanagement/stable/directoryroleeligibilityschedule/client.go
  vendor/github.com/hashicorp/go-azure-sdk/microsoft-graph/rolemanagement/stable/directoryroleeligibilityschedule/method_createdirectoryroleeligibilityschedule.go
  vendor/github.com/hashicorp/go-azure-sdk/microsoft-graph/rolemanagement/stable/directoryroleeligibilityschedule/method_deletedirectoryroleeligibilityschedule.go
  vendor/github.com/hashicorp/go-azure-sdk/microsoft-graph/rolemanagement/stable/directoryroleeligibilityschedule/method_getdirectoryroleeligibilityschedule.go
  vendor/github.com/hashicorp/go-azure-sdk/microsoft-graph/rolemanagement/stable/directoryroleeligibilityschedule/method_getdirectoryroleeligibilityschedulescount.go
  vendor/github.com/hashicorp/go-azure-sdk/microsoft-graph/rolemanagement/stable/directoryroleeligibilityschedule/method_listdirectoryroleeligibilityschedules.go
  vendor/github.com/hashicorp/go-azure-sdk/microsoft-graph/rolemanagement/stable/directoryroleeligibilityschedule/method_updatedirectoryroleeligibilityschedule.go
  vendor/github.com/hashicorp/go-azure-sdk/microsoft-graph/rolemanagement/stable/directoryroleeligibilityschedule/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/microsoft-graph/rolemanagement/stable/directoryroleeligibilityschedule/version.go
  vendor/modules.txt
Labels: size/XL, dependencies, feature/directory-roles

#1659 `azuread_application_pre_authorized` - Fix unexpected removal of unmanaged pre-authorized apps
  internal/services/applications/application_pre_authorized_resource.go
Labels: size/XS, feature/applications

#1676 CHANGELOG.md for release `v3.3.0`
  CHANGELOG.md
Labels: size/XS

#1630 doc(index.md): bump version in example
  docs/index.md
Labels: size/XS, documentation
