Repository hashicorp/terraform-provider-azuread, pull requests merged in 2025-01, with the labels that each got.

#1437 azuread_user: support employee hire date
  docs/data-sources/user.md
  docs/resources/user.md
  internal/services/users/user_data_source.go
  internal/services/users/user_data_source_test.go
  internal/services/users/user_resource.go
  internal/services/users/user_resource_test.go
Labels: documentation, size/S, feature/users

#1608 Fixing some import commands in docs
  docs/resources/administrative_unit.md
  docs/resources/administrative_unit_member.md
  docs/resources/administrative_unit_role_member.md
  docs/resources/authentication_strength_policy.md
  docs/resources/conditional_access_policy.md
  docs/resources/named_location.md
Labels: size/XS, documentation

#1594 azuread_group: document all application permissions needed when creating groups inside administrative units
  docs/resources/group.md
Labels: size/XS, documentation

#1451 cosmetic - remove duplicate line
  docs/resources/application.md
Labels: size/XS, documentation

#1619 `azuread_conditional_access_policy` - fix potential panic in expanding `conditions`
  internal/services/conditionalaccess/conditionalaccess.go
Labels: size/XS, feature/conditional-access

#1589 azuread_named_location: Implement support for the country_lookup_method parameter
  docs/resources/named_location.md
  internal/services/conditionalaccess/conditionalaccess.go
  internal/services/conditionalaccess/named_location_data_source.go
  internal/services/conditionalaccess/named_location_data_source_test.go
  internal/services/conditionalaccess/named_location_resource.go
  internal/services/conditionalaccess/named_location_resource_test.go
Labels: enhancement, size/M, documentation, feature/conditional-access

#1593 azuread_group: fix bug preventing creation retry when caller owner causes duplicate value error
  internal/services/groups/group_resource.go
Labels: bug, size/XS, feature/groups

#1592 azuread_access_package_resource_catalog_association: allow originId containing `/`, e.g. URIs
  internal/services/identitygovernance/parse/access_package_resource_catalog_association_id.go
Labels: size/XS, feature/identity-governance

#1602 azuread_conditional_access_policy: Authentication strength policies hard-coded values path
  docs/resources/conditional_access_policy.md
  internal/services/conditionalaccess/conditional_access_policy_resource_test.go
Labels: documentation, size/S, feature/conditional-access

#1621 [Docs] azuread_group_member - update example usage code block
  docs/resources/group_member.md
Labels: size/XS, documentation
